In [1]:
#Pandas revision

In [4]:
import pandas as pd

In [5]:
frame = pd.read_csv('students.csv')

In [6]:
frame['scaled marks']=frame['Total (100)'].apply(lambda x:x+5)

In [7]:
frame

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,scaled marks
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B,75
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F,55
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C,68
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F,51
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B,82
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B,76
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B,79
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A,90
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C,66
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A,89
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A,96
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B,81
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B,78
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C,72
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C,70
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F,23
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B,77
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B,75
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C,65
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A,96
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B,76
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C,65
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F,62
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C,67
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B,82
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A,91
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C,70
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B,76
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F,62
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F,44
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B,77
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B,78
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F,34
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F,56
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A,91
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C,71
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B,75
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B,80
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F,44
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C,73
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A,86
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F,62
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C,72
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B,84
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C,68
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A,85
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C,70
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F,51

In [9]:
frame['Total (100)']

0     70
1     50
2     63
3     46
4     77
5     71
6     74
7     85
8     61
9     84
10    91
11    76
12    73
13    67
14    65
15    18
16    72
17    70
18    60
19    91
20    71
21    60
22    57
23    62
24    77
25    86
26    65
27    71
28    57
29    39
30    72
31    73
32    29
33    51
34    86
35    66
36    70
37    75
38    39
39    68
40    81
41    57
42    67
43    79
44    63
45    80
46    65
47    46
Name: Total (100), dtype: int64

In [10]:
frame['Total (100)'].apply(lambda x:x+5) # WE WANT TO ADD 5 MARKS IN EVERY STUDENT TOTAL MARKS

0     75
1     55
2     68
3     51
4     82
5     76
6     79
7     90
8     66
9     89
10    96
11    81
12    78
13    72
14    70
15    23
16    77
17    75
18    65
19    96
20    76
21    65
22    62
23    67
24    82
25    91
26    70
27    76
28    62
29    44
30    77
31    78
32    34
33    56
34    91
35    71
36    75
37    80
38    44
39    73
40    86
41    62
42    72
43    84
44    68
45    85
46    70
47    51
Name: Total (100), dtype: int64

In [12]:
# adding news added numbers into other column and save this column to csv ,lambda is one line function
frame['scaled marks']=frame['Total (100)'].apply(lambda x:x+5) # WE WANT TO ADD 5 MARKS IN EVERY STUDENT TOTAL MARKS
frame['scaled marks']

0     75
1     55
2     68
3     51
4     82
5     76
6     79
7     90
8     66
9     89
10    96
11    81
12    78
13    72
14    70
15    23
16    77
17    75
18    65
19    96
20    76
21    65
22    62
23    67
24    82
25    91
26    70
27    76
28    62
29    44
30    77
31    78
32    34
33    56
34    91
35    71
36    75
37    80
38    44
39    73
40    86
41    62
42    72
43    84
44    68
45    85
46    70
47    51
Name: scaled marks, dtype: int64

In [8]:
#Lambda function =====> one line function

In [13]:
y = lambda x:2*x  #lambda arg: operation

In [14]:
y(6)

12

In [15]:
frame['Total (100)'].count() # ye count null values ko hata kar bataraha haike kitni values han is column me jo null nahi

48

In [16]:
frame['Total (100)'].argmin() # ye ,ye bataraha hai ke is column me kis index par sab se minimum value hai

15

In [17]:
# agr 2 rows ka minimum nikalna ho tou ye karenge
def min(row):
    if row['Assignment 1']>row['Assignment 2']:
        return row['Assignment 2']
    else:
        return row['Assignment 1']
frame.apply(min,axis=1)

0      7.0
1      8.0
2      8.0
3      NaN
4      7.0
5      8.0
6      8.0
7      8.0
8      7.0
9      8.0
10     8.0
11     5.0
12     8.0
13     8.0
14     6.0
15     NaN
16     7.0
17     9.0
18     8.0
19     8.0
20     7.0
21     9.0
22     7.0
23     8.0
24     9.0
25     8.0
26     6.0
27     8.0
28     9.0
29     6.0
30     9.0
31    10.0
32     8.0
33     8.0
34     8.0
35     NaN
36     9.0
37     9.0
38     5.0
39     9.0
40     8.0
41     8.0
42     8.0
43     6.0
44     9.0
45     9.0
46     8.0
47     5.0
dtype: float64

## Reading data in different formats

In [19]:
frame

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade,scaled marks
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B,75
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F,55
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C,68
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F,51
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B,82
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B,76
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B,79
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A,90
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C,66
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A,89
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A,96
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B,81
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B,78
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C,72
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C,70
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F,23
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B,77
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B,75
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C,65
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A,96
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B,76
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C,65
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F,62
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C,67
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B,82
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A,91
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C,70
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B,76
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F,62
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F,44
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B,77
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B,78
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F,34
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F,56
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A,91
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C,71
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B,75
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B,80
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F,44
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C,73
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A,86
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F,62
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C,72
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B,84
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C,68
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A,85
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C,70
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F,51

In [23]:
frame =pd.read_csv('students.csv') # we cannot specify any separator because by defaultseparator is , 
frame

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [ ]:
frame =pd.read_csv('students.csv',sep=',') # we also specify separator for comma separated file if we want 
frame

In [27]:
frame =pd.read_csv('students.csv',sep='/,') # we  specify separator because in some files are tab separated data for tab separated data we use sperator here 
frame

C:\Users\pc\AppData\Local\Temp\ipykernel_5220\2704667364.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  frame =pd.read_csv('students.csv',sep='/,') # we  specify separator because in some files are tab separated data for tab separated data we use sperator here

   Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0   022-14-19987,BS(CS),Abdul Basit,28,8,3,8,7,9,9...
1   022-14-110233,BS(CS),Adeel Ahmed,17,,5,5,8,10,...
2   022-14-110585,BS(CS),Afrah Zareen,18,5,2,5,8,1...
3   022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,,2...
4   022-14-110648,BS(CS),Ahsan Ali Vohra,27,7,6,7,...
5   022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10...
6   022-14-110588,BS(CS),Anas Ali Khan,28,5,6,6,8,...
7   022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9...
8   022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7...
9   022-14-110599,BS(CS),Arsalan,28,8,6,8,8,,8,44,...
10  022-14-110214,BS(CS),Fatima Haider Warsi,30,8,...
11  022-14-110591,BS(CS),Habib Ullah,28,8,5,8,5,,5...
12  022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,...
13  022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4...
14  022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,...
15  022-14-19916,BS(CS),Haseeb Sajid,18,,,0,,,0,18...
16  022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9...
17  022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,1...
18  022-14-110223,BS(CS),Madiha Jabeen,16,5,2,5,8,...
19  022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,...
20  022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7...
21  022-14-110593,BS(CS),Muhammad Abdul Rehman Sid...
22  022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,...
23  022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,,5...
24  022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9...
25  022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8...
26  022-14-110370,BS(CS),Muhammad Ghazali Faridi,2...
27  022-14-110452,BS(CS),Muhammad Osama Khan,27,8,...
28  022-14-110387,BS(CS),Muhammad Saqib Intizar,22...
29  022-14-110217,BS(CS),Muhammad Shahroz Khurshid...
30  022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,...
31  022-14-110231,BS(CS),Muhammad Taha Hasnain,27,...
32  022-14-110035,BS(CS),Muhammad Wajahat Khan,9,,...
33  022-14-19919,BS(CS),Muhammad Younus Baig,20,4,...
34  022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9...
35  022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,,10,10...
36  022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,,9,...
37  022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,...
38  022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,...
39  022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11...
40  022-14-110584,BS(CS),Sharif Taqi,27,9,6,9,8,10...
41  022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,...
42  022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,...
43  022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,...
44  022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,,9...
45  022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,...
46  022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,1...
47  022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,7,...

In [28]:
frame = pd.read_csv('students.csv',header = None) # if file have no headings
display(frame)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
1,022-14-19987,BS(CS),Abdul Basit,28,8,3,8,7,9,9,45,25,70,B
2,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10,32,18,50,F
3,022-14-110585,BS(CS),Afrah Zareen,18,5,2,5,8,10,10,33,30,63,C
4,022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2,23,23,46,F
5,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7,6,7,7,9,9,43,34,77,B
6,022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10,44,27,71,B
7,022-14-110588,BS(CS),Anas Ali Khan,28,5,6,6,8,10,10,44,30,74,B
8,022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10,45,40,85,A
9,022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9,37,24,61,C
10,022-14-110599,BS(CS),Arsalan,28,8,6,8,8,NaN,8,44,40,84,A
11,022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8,46,45,91,A
12,022-14-110591,BS(CS),Habib Ullah,28,8,5,8,5,NaN,5,41,35,76,B
13,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10,40,33,73,B
14,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10,42,25,67,C
15,022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8,36,29,65,C
16,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
17,022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9,37,35,72,B
18,022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11,39,31,70,B
19,022-14-110223,BS(CS),Madiha Jabeen,16,5,2,5,8,10,10,31,29,60,C
20,022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10,46,45,91,A
21,022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9,40,31,71,B
22,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11,40,20,60,C
23,022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7,34,23,57,F
24,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10,41,21,62,C
25,022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11,44,33,77,B
26,022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10,45,41,86,A
27,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8,41,24,65,C
28,022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10,45,26,71,B
29,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11,39,18,57,F
30,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6,30,9,39,F
31,022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9,40,32,72,B
32,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10,44,29,73,B
33,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10,21,8,29,F
34,022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10,34,17,51,F
35,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10,44,42,86,A
36,022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10,38,28,66,C
37,022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9,43,27,70,B
38,022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9,45,30,75,B
39,022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7,22,17,39,F
40,022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11,43,25,68,C
41,022-14-110584,BS(CS),Sharif Taqi,27,9,6,9,8,10,10,46,35,81,A
42,022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F
43,022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10,44,23,67,C
44,022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8,45,34,79,B
45,022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9,41,22,63,C
46,022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9,45,35,80,A
47,022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10,43,22,65,C
48,022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,7,7,27,19,46,F

In [30]:
pd.read_csv('students.csv', names=['a', 'b', 'c', 'd', 'message']) # specifying columns if file have no headings

,,,,,,,,,a,b,c,d,message
Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
022-14-19987,BS(CS),Abdul Basit,28,8,3,8,7,9,9,45,25,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5,5,8,10,10,32,18,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5,2,5,8,10,10,33,30,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7,2,7,NaN,2,2,23,23,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7,6,7,7,9,9,43,34,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9,6,9,8,10,10,44,27,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5,6,6,8,10,10,44,30,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9,6,9,8,10,10,45,40,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9,4,9,7,9,9,37,24,61,C
022-14-110599,BS(CS),Arsalan,28,8,6,8,8,NaN,8,44,40,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8,7,8,8,NaN,8,46,45,91,A
022-14-110591,BS(CS),Habib Ullah,28,8,5,8,5,NaN,5,41,35,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7,5,7,8,10,10,40,33,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8,4,8,8,10,10,42,25,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7,4,7,6,8,8,36,29,65,C
022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
022-14-110596,BS(CS),Hassam Ahmed,23,5,5,5,7,9,9,37,35,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8,5,8,9,11,11,39,31,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5,2,5,8,10,10,31,29,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9,6,9,8,10,10,46,45,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7,6,7,7,9,9,40,31,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9,6,9,9,11,11,40,20,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7,6,7,7,NaN,7,34,23,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5,NaN,5,8,10,10,41,21,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5,4,5,9,11,11,44,33,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9,6,9,8,10,10,45,41,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6,NaN,6,6,8,8,41,24,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8,6,8,8,10,10,45,26,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6,6,6,9,11,11,39,18,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7,1,7,6,NaN,6,30,9,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8,6,8,9,NaN,9,40,32,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7,5,7,10,NaN,10,44,29,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2,2,8,10,10,21,8,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4,2,4,8,10,10,34,17,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9,6,9,8,10,10,44,42,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8,5,8,NaN,10,10,38,28,66,C
022-14-110582,BS(CS),Rida Nasim,25,9,5,9,9,NaN,9,43,27,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9,5,9,9,NaN,9,45,30,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6,6,6,5,7,7,22,17,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4,4,4,9,11,11,43,25,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9,6,9,8,10,10,46,35,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7,6,7,8,10,10,37,20,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5,6,6,8,10,10,44,23,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9,4,9,6,8,8,45,34,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7,5,7,9,NaN,9,41,22,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9,6,9,9,NaN,9,45,35,80,A
022-14-19911,BS(CS),Usman Khan,25,8,5,8,8,10,10,43,22,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9,5,9,5,7,7,27,19,46,F

In [31]:
# specifying index column 
frame = pd.read_csv('students.csv',index_col='Student Code')
display(frame)

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [49]:
#Removing outliers,
# OUTLIER WO DATA HOTA HAI JO NORMAL RANGE SE BAHUT ZIADA BAHIR HO JESE SALARY
# AGR KISSI KI 1 CRORE LIKHI HUI HO TOU YE OUTLIER KUINKE AESA BAHUT MUSHKIL HAI HONA,ISKE ILAWA
# JESE MARKS 10 HOSAKTA KISSI KE 110 HON TOU MATLAB AJEEB  O GHAREEB DATA OUTLIER HAI

In [37]:
import numpy as np
mean = frame['Total (100)'].mean() #MEAN
std = frame['Total (100)'].std() # STANDARD DEVIATION 
lower_range = mean - 3*std
upper_range = mean + 3*std

In [38]:
filtered_data = frame[frame['Total (100)'] < upper_range][frame['Total (100)'] > lower_range]

In [39]:
filtered_data

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [41]:
# FILLING MISSING VALUE 
frame['Assignment 1'].fillna(frame['Assignment 1'].mean(),inplace=True)

In [42]:
frame

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.000000,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.000000,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.000000,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,7.755556,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.000000,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.000000,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.000000,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.000000,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.000000,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.000000,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.000000,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.000000,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.000000,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.000000,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.000000,8.0,8,36,29.0,65,C
022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,7.755556,NaN,0,18,NaN,18,F
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.000000,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.000000,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.000000,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.000000,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.000000,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.000000,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.000000,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.000000,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.000000,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.000000,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.000000,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.000000,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.000000,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.000000,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.000000,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.000000,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.000000,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.000000,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.000000,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,7.755556,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.000000,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.000000,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.000000,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.000000,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.000000,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.000000,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.000000,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.000000,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.000000,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.000000,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.000000,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.000000,7.0,7,27,19.0,46,F

#### Database

In [32]:
import sqlite3 as s3

In [33]:
query = "create table Student(sId varchar,sname varchar)" #Create a table

In [34]:
con = s3.connect('student.sqlite') #Make the connection

In [35]:
con.execute(query) #Execute query

In [36]:
data = [
    (1,'Ali'),
    (2,'Fatima'),
    (3,'Asad')    
]

In [43]:
query = "INSERT INTO Student values(?,?)"

In [44]:
con.executemany(query,data)

In [45]:
con.commit()

In [46]:
query = "select sId, sName from Student"

In [47]:
cursor = con.execute(query)

In [48]:
rows = cursor.fetchall()

In [50]:
rows

[('1', 'Ali'),
 ('2', 'Fatima'),
 ('3', 'Asad'),
 ('1', 'Ali'),
 ('2', 'Fatima'),
 ('3', 'Asad'),
 ('1', 'Ali'),
 ('2', 'Fatima'),
 ('3', 'Asad')]

In [51]:
cursor.description

(('sId', None, None, None, None, None, None),
 ('sname', None, None, None, None, None, None))

In [52]:
#DDL------> data definition language : Create, alter
#DML : Select, Insert, delete, update

In [69]:
con.close()

In [80]:
#Data cleaning
# we have 4 mthods of preprocessing method
# dropna  -----> drop NA(null) values and show result
# fillna  -----> fill values
# isnull ------> check null values
# notnull -----> give values which are not null

In [77]:
frame.columns

Index(['Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2', 'Best of Quizzes',
       'Assignment 1', 'Assignment 2', 'Best of Assignments',
       'Total Sessional (50)', 'Final (50)', 'Total (100)', 'Grade'],
      dtype='object')

In [79]:
frame['Quiz 1'].notnull()

Student Code
022-14-19987      True
022-14-110233    False
022-14-110585     True
022-14-19718      True
022-14-110648     True
022-14-110232     True
022-14-110588     True
022-14-110388     True
022-14-110601     True
022-14-110599     True
022-14-110214     True
022-14-110591     True
022-15-110994     True
022-14-110600     True
022-14-110389     True
022-14-19916     False
022-14-110596     True
022-14-110396     True
022-14-110223     True
022-14-110222     True
022-14-110412     True
022-14-110593     True
022-14-110398     True
022-14-19983      True
022-14-110215     True
022-14-110105     True
022-14-110370     True
022-14-110452     True
022-14-110387     True
022-14-110217     True
022-14-110401     True
022-14-110231     True
022-14-110035    False
022-14-19919      True
022-14-110413     True
022-14-19923      True
022-14-110582     True
022-14-110230     True
022-14-110229     True
022-14-110107     True
022-14-110584     True
022-14-110225     True
022-14-110587     True
022-14-110451     True
022-14-110589     True
022-14-110400     True
022-14-19911      True
022-14-110219     True
Name: Quiz 1, dtype: bool

In [81]:
frame['Quiz 1'].isnull()

Student Code
022-14-19987     False
022-14-110233     True
022-14-110585    False
022-14-19718     False
022-14-110648    False
022-14-110232    False
022-14-110588    False
022-14-110388    False
022-14-110601    False
022-14-110599    False
022-14-110214    False
022-14-110591    False
022-15-110994    False
022-14-110600    False
022-14-110389    False
022-14-19916      True
022-14-110596    False
022-14-110396    False
022-14-110223    False
022-14-110222    False
022-14-110412    False
022-14-110593    False
022-14-110398    False
022-14-19983     False
022-14-110215    False
022-14-110105    False
022-14-110370    False
022-14-110452    False
022-14-110387    False
022-14-110217    False
022-14-110401    False
022-14-110231    False
022-14-110035     True
022-14-19919     False
022-14-110413    False
022-14-19923     False
022-14-110582    False
022-14-110230    False
022-14-110229    False
022-14-110107    False
022-14-110584    False
022-14-110225    False
022-14-110587    False
022-14-110451    False
022-14-110589    False
022-14-110400    False
022-14-19911     False
022-14-110219    False
Name: Quiz 1, dtype: bool

In [86]:
pd.set_option('display.max_rows', None) # isse sare rows show honge,koi maximum size nahi dia isliye none likha hai

In [87]:
frame

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.000000,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.000000,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.000000,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,7.755556,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.000000,9.0,9,43,34.0,77,B
022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.000000,10.0,10,44,27.0,71,B
022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.000000,10.0,10,44,30.0,74,B
022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.000000,10.0,10,45,40.0,85,A
022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.000000,9.0,9,37,24.0,61,C
022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.000000,NaN,8,44,40.0,84,A
022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.000000,NaN,8,46,45.0,91,A
022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.000000,NaN,5,41,35.0,76,B
022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.000000,10.0,10,40,33.0,73,B
022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.000000,10.0,10,42,25.0,67,C
022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.000000,8.0,8,36,29.0,65,C
022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,7.755556,NaN,0,18,NaN,18,F
022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.000000,9.0,9,37,35.0,72,B
022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.000000,11.0,11,39,31.0,70,B
022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.000000,10.0,10,31,29.0,60,C
022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.000000,10.0,10,46,45.0,91,A
022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.000000,9.0,9,40,31.0,71,B
022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.000000,11.0,11,40,20.0,60,C
022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.000000,NaN,7,34,23.0,57,F
022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.000000,10.0,10,41,21.0,62,C
022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.000000,11.0,11,44,33.0,77,B
022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.000000,10.0,10,45,41.0,86,A
022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.000000,8.0,8,41,24.0,65,C
022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.000000,10.0,10,45,26.0,71,B
022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.000000,11.0,11,39,18.0,57,F
022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.000000,NaN,6,30,9.0,39,F
022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.000000,NaN,9,40,32.0,72,B
022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.000000,NaN,10,44,29.0,73,B
022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.000000,10.0,10,21,8.0,29,F
022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.000000,10.0,10,34,17.0,51,F
022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.000000,10.0,10,44,42.0,86,A
022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,7.755556,10.0,10,38,28.0,66,C
022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.000000,NaN,9,43,27.0,70,B
022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.000000,NaN,9,45,30.0,75,B
022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.000000,7.0,7,22,17.0,39,F
022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.000000,11.0,11,43,25.0,68,C
022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.000000,10.0,10,46,35.0,81,A
022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.000000,10.0,10,37,20.0,57,F
022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.000000,10.0,10,44,23.0,67,C
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.000000,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.000000,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.000000,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.000000,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.000000,7.0,7,27,19.0,46,F

In [54]:
pd.set_option('display.max_rows', 10)# showing 10 rows
frame

,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
Student Code,,,,,,,,,,,,,
022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...
022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [60]:
print(frame.count())

print(frame.dropna().count()) # dropna drop all values  which is null if one row having 5 column 
#and one column having null values then dropna removes all row

Degree                  48
Student Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
                        ..
Best of Assignments     48
Total Sessional (50)    48
Final (50)              47
Total (100)             48
Grade                   48
Length: 13, dtype: int64
Degree                  30
Student Name            30
Mid                     30
Quiz 1                  30
Quiz 2                  30
                        ..
Best of Assignments     30
Total Sessional (50)    30
Final (50)              30
Total (100)             30
Grade                   30
Length: 13, dtype: int64

In [61]:
df = pd.DataFrame({'name':['ali','asif','meer'],'age':[1,None,3]})
df

   name  age
0   ali  1.0
1  asif  NaN
2  meer  3.0

In [62]:
df.dropna()

   name  age
0   ali  1.0
2  meer  3.0

In [64]:
df.dropna(how='all') # delete only those rows which are all none(null)

   name  age
0   ali  1.0
1  asif  NaN
2  meer  3.0

In [65]:
df.dropna(thresh=2) # threshold = 2 which means atleast  2 columns should have data matlab kam se kam 1 row ki 2 jagahon par tou data ho

   name  age
0   ali  1.0
2  meer  3.0

In [66]:
print(frame.count())
print(frame.dropna(how='all').count())

Degree                  48
Student Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
                        ..
Best of Assignments     48
Total Sessional (50)    48
Final (50)              47
Total (100)             48
Grade                   48
Length: 13, dtype: int64
Degree                  48
Student Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
                        ..
Best of Assignments     48
Total Sessional (50)    48
Final (50)              47
Total (100)             48
Grade                   48
Length: 13, dtype: int64

In [67]:
df = pd.DataFrame({'name':['ali','asif','rashid',None],'age':[1,None,3,None], 'marks':[None,12,3,25]})

In [68]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [69]:
df.dropna(how='all')

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [70]:
df.dropna(thresh=2) #atleast two columns should have the data matlab kam se kam 1 row ki 2 jagahon par tou data ho

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0

In [71]:
 df.dropna(thresh=3,axis=1) #atleast three rows have data to survive a column matlab kam se kam 1 row ki 3 jagahon par tou data ho

     name  marks
0     ali    NaN
1    asif   12.0
2  rashid    3.0
3    None   25.0

In [74]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [75]:
df[df['name'].notnull()] # agr hum none ko remove karna chahen matlab jese ooper wale output me aik NONE  hai aur aik NaN ab humme NONE ko remove karna hai tou hum ye karenge

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0

In [76]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  3.0    3.0
3    None  NaN   25.0

In [91]:
# filling values in the place of null values
df.fillna({  #specifying different filled values for each column
    'name':'No Name',
    'age':18,
    'marks':0
})

     name   age  marks
0     ali   1.0    0.0
1    asif  18.0   12.0
2  rashid  18.0    3.0
3  rashid  18.0   31.0

In [92]:
df.fillna(0) #Filled all missing values with 0

     name  age  marks
0     ali  1.0    0.0
1    asif  0.0   12.0
2  rashid  0.0    3.0
3  rashid  0.0   31.0

In [93]:
df['age'].fillna(df['age'].mean()) #Filled with mean vale

0    1.0
1    1.0
2    1.0
3    1.0
Name: age, dtype: float64

In [94]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3  rashid  NaN   31.0

In [97]:
df.fillna(method='ffill') # forward fill(ffill)----  ooper wali values ko neeche fill karega agr kahin null hua tou ,matlab null value ki jaga previous value chali jaaigi

     name  age  marks
0     ali  1.0    NaN
1    asif  1.0   12.0
2  rashid  1.0    3.0
3  rashid  1.0   25.0

In [98]:
df = pd.DataFrame({'name':['ali','asif','rashid',None],'age':[1,None,None,None], 'marks':[None,12,3,25]})

In [99]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3    None  NaN   25.0

In [84]:
df.fillna(method='ffill',limit=2)  # limit lagadi ke srf 2 hi ko fill kare

     name  age  marks
0     ali  1.0    NaN
1    asif  1.0   12.0
2  rashid  1.0    3.0
3  rashid  NaN   25.0

In [100]:
df = pd.DataFrame({'name':['ali','asif','rashid','rashid'],'age':[1,None,None,None], 'marks':[None,12,3,3]})

In [101]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3  rashid  NaN    3.0

In [102]:
df.drop_duplicates()  # dropping duplicate values agr 2 rows ki aik column ki bhi cheez mil rahi hogi tou ye usko bhi drop kardega

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0

In [105]:
df = pd.DataFrame({'name':['ali','asif','rashid','rashid'],'age':[1,None,None,None], 'marks':[None,12,3,31]})

In [107]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3  rashid  NaN   31.0

In [108]:
df.drop_duplicates(['name']) # only consider name for dropping

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0

In [109]:
df.drop_duplicates(['name'],keep='last') # agr 2 record same arahe hon name ke column me tou pehle wala drop karde dosre wala rakhle

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
3  rashid  NaN   31.0

In [110]:
father_name={
    'ali':'Hamid',
    'asif':'Asghar',
    'rashid':'Naeem'
}

In [111]:
df

     name  age  marks
0     ali  1.0    NaN
1    asif  NaN   12.0
2  rashid  NaN    3.0
3  rashid  NaN   31.0

In [112]:
df['Father Name'] = df['name'].map(father_name) # map apply ke function ki tarah kam karta hai par isme hum dictionary bhi pass karsakte hain

In [117]:
df

     name  age  marks Father Name     Full Name
0     ali  1.0    NaN       Hamid     ali Hamid
1    asif  NaN   12.0      Asghar   asif Asghar
2  rashid  NaN    3.0       Naeem  rashid Naeem
3  rashid  NaN   31.0       Naeem  rashid Naeem

In [118]:
df['Full Name'] = df['name'].map(lambda name: name+' ' +father_name[name]) # comning both names ,name and father name

In [119]:
df

     name  age  marks Father Name     Full Name
0     ali  1.0    NaN       Hamid     ali Hamid
1    asif  NaN   12.0      Asghar   asif Asghar
2  rashid  NaN    3.0       Naeem  rashid Naeem
3  rashid  NaN   31.0       Naeem  rashid Naeem